.contenido{
    background-color:white;
    background-position: top center;
    background-repeat:no-repeat;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}    


.contenido_login {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat:no-repeat;
    height: 700px;
}


.formulario{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(215, 214, 250, 1);
    width: 60%;

    padding: 40px 40px;


}

.boton {
    cursor: pointer;
}

.modal_solicitud{
    background-color: rgba(24, 154, 198, 0.363) !important;
    color: #f2f2f2; 
}

#deta {
    position: relative;
    left: 25%;
    top: 40%;
    margin-bottom: 50px;
    border-radius: 30px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 56.51063537597656px;
    width: 202.71771240234375px;
    font-family: "Ropa Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center; 
    color: #CED0EA;
    background-color: black;
}

#deta1 {
    position: relative;
    left: 25%;
    top: 40%;
    margin-bottom: 50px;
    border-radius: 30px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 56.51063537597656px;
    width: 202.71771240234375px;
    font-family: "Ropa Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center; 
    color: #CED0EA;
    background-color: black;
}

#ten {
    position: relative;
    width: 100%;
    border:0cm;
    margin: 0cm;
    font-family: "Ropa Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    right: 27%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(145, 145, 145, 0.25);
}

#grafica {
    position: relative;
    height: 80%!important;
    top: 10%!important;
}

#tend {
    position: relative;
    height: 70%;
    left: 10%;
    background: #CED0EA;
    opacity: 0.8;
    border-radius: 50px;
    bottom: 5%;
}